@import "tailwindcss";

@theme {
  --color-surface: #131313;
  --color-on-surface: #EEFFFF;
  --color-on-surface-variant: #8d909d;
  --color-primary: #82AAFF;
  --color-on-primary: #002e6b;
  --color-primary-container: #82AAFF;
  --color-on-primary-container: #002e6b;
  --color-surface-container-low: #1c1b1b;
  --color-surface-container-highest: #353535;
  --color-outline: #8d909d;
  
  --font-headline: var(--font-headline);
  --font-body: var(--font-body);
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  font-family: var(--font-body);
}
